<h1>Iniciar sesión</h1>
<div id="mensaje" style="display:none;" >
   <%= image_tag 'spinner.gif'%> Cargando
</div>
<% form_remote_tag :url => session_path, :before => "$('mensaje').show()" do -%>
  <p><%= label_tag 'login' %>
  <%= text_field_tag 'login', @login %></p>
  <p><%= label_tag 'password' %>
  <%= password_field_tag 'password', nil %></p>
  <p><%= submit_tag 'Enviar' %></p>
<% end -%>