<h1>Listado de revistas</h1>
<table>
  <tr>
    <th>Nombre</th>
    <th>Fecha publicacion</th>
    <th>Numero</th>
    <th>Editorial</th>
    <th colspan="4">Acciones</th>
  </tr>
<% for revista in @revistas %>
  <tr>
    <td><%= link_to(revista.nombre, sql_revista_path(revista)) %></td>
    <td><%=h revista.fecha_publicacion.strftime("%Y/%m/%d") %></td>
    <td><%=h revista.numero %></td>
    <td><%=h truncate(revista.editorial, :length => 100) %></td>
    <td><%= link_to 'Articulos', revista_articulos_path(revista) %></td>
    <td><%= link_to 'Mostrar', revista %></td>
    <td><%= link_to 'Editar', edit_revista_path(revista) %></td>
    <td><%= link_to 'Borrar', revista, :confirm => 'Esta seguro?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<%= will_paginate @revistas %>
<br />
<%= link_to('Nueva revista', new_revista_path) if current_user.admin? %>