<h1>Nuevo revista</h1>

<% form_for(@revista) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :nombre %>
    <%= f.text_field :nombre %>
  </p>
  <p>
    <%= f.label :fecha_publicacion %>
    <%= f.datetime_select :fecha_publicacion %>
  </p>
  <p>
    <%= f.label :numero %>
    <%= f.text_field :numero %>
  </p>
  <p>
    <%= f.label :editorial %>
    <%= f.text_area :editorial %>
  </p>
  <p class="medio">
    <%= f.submit "Crear" %>
  </p>
<% end %>

<%= link_to 'Atras', revistas_path %>
