<h1>Listing autores</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Apellidos</th>
    <th>Email</th>
    <th>Telefonos</th>
    <th>Biografia</th>
  </tr>

<% for autor in @autores %>
  <tr>
    <td><%=h autor.nombre %></td>
    <td><%=h autor.apellidos %></td>
    <td><%=h autor.email %></td>
    <td><%=h autor.telefonos %></td>
    <td><%=h autor.biografia %></td>
    <td><%= link_to 'Show', autor %></td>
    <td><%= link_to 'Edit', edit_autor_path(autor) %></td>
    <td><%= link_to 'Destroy', autor, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New autor', new_autor_path %>
