<h1>Nuevo autor</h1>

<% form_for(@autor) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :nombre %>
    <%= f.text_field :nombre %>
  </p>
  <p>
    <%= f.label :apellidos %>
    <%= f.text_field :apellidos %>
  </p>
  <p>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :telefonos %>
    <%= f.text_field :telefonos %>
  </p>
  <p>
    <%= f.label :biografia %>
    <%= f.text_area :biografia %>
  </p>
  <p class="medio">
    <%= f.submit "Crear" %>
  </p>
<% end %>

<%= link_to 'Atras', autores_path %>
