<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>Sistema Atix</title>
    <%= stylesheet_link_tag 'style' %>
  </head>
  <body>
    <div class="header">
      <div class="menu">
        <%= link_to("Revistas", revistas_path, :title => "Listado de Revistas") %> | <%= link_to("Articulos", articulos_path, :title => "Listado de Articulos") %> | <%= link_to("Autores", autores_path, :title => "Listado de Autores") %>
      </div>
      <br class="clear">
      <h1><%= link_to("Sistema de registros de Atix", root_path, :title => "Sistema de archivo de Revistas") %></h1>
    </div>
    <div class="body">
      <p style="color: green"><%= flash[:notice] %></p>
      <%= yield  %>
    </div>
  </body>
</html>