<h1>Editar articulo</h1>
<% form_for(@articulo) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :titulo %>
    <%= f.text_field :titulo %>
  </p>
  <p>
    <%= f.label :contenido %>
    <%= f.text_area :contenido %>
  </p>
  <p>
    <%= f.label :revista %>
    <%= f.text_field :revista %>
  </p>
  <p>
    <%= f.label :autor %>
    <%= f.text_field :autor %>
  </p>
  <p class="medio">
    <%= f.submit "Actualizar" %>
  </p>
<% end %>
<%= link_to 'Mostrar', @articulo %> |
<%= link_to 'Atras', articulos_path %>
