<h1>New articulo</h1>

<% form_for(@articulo) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :titulo %><br />
    <%= f.text_field :titulo %>
  </p>
  <p>
    <%= f.label :contenido %><br />
    <%= f.text_area :contenido %>
  </p>
  <p>
    <%= f.label :revista %><br />
    <%= f.select :revista_id, Revista.all.collect{|x| [x.nombre, x.id]} %>
  </p>
  <p>
    <%= f.label :autor %><br />
    <%= f.select :autor_id, Autor.all.collect{|x| [x.nombre + " " + x.apellidos, x.id]} %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', articulos_path %>
