<p>
  <b>Titulo:</b>
  <%=h @articulo.titulo %>
</p>

<p>
  <b>Contenido:</b>
  <%=h @articulo.contenido %>
</p>

<p>
  <b>Revista:</b>
  <%=h @articulo.revista %>
</p>

<p>
  <b>Autor:</b>
  <%=h @articulo.autor %>
</p>


<%= link_to 'Editar', edit_articulo_path(@articulo) %> |
<%= link_to 'Atras', articulos_path %>
